.clinic-container-1 {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--green-paliar);
  font-weight: 700;
  font-size: 0.9rem;
  gap: 7rem;
}

.clinic-container-1 h1 {
  font-weight: 700;
}

.clinic-container-2 {
  width: 50%;
  justify-content: center;
}

.clinic-container-5 {
  width: 50%;
  display: flex;
  gap: 7rem;
}

.clinic-container-2,
.clinic-container-3,
.clinic-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  height: 80vh;
}

.clinic-container-3 p {
  display: flex;
  flex-direction: column;
}

.clinic-container-2 ul p {
  display: flex;
  justify-content: center;
  width: 100%;
}

.clinic-container-2 h1,
.clinic-container-4 h1,
.clinic-container-3 h1 {
  font-size: 2rem;
}

.clinic-container-4 ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clinic-place,
.clinic-oncovida {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--green-paliar);
}

.clinic-place {
  background-image: url("../../../../public/images/consultorio.jpeg");
}

.clinic-oncovida {
  background-image: url("../../../../public/images/oncovida.jpeg");
}

.clinic-geap-logo,
.clinic-prevmed-logo,
.clinic-particular-logo {
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--green-paliar);
}

.clinic-geap-logo {
  background-image: url("../../../../public/images/GEAP-Saúde.jpg");
}

.clinic-prevmed-logo {
  background-image: url("../../../../public/images/prevmed.png");
}

.clinic-particular-logo {
  background-image: url("../../../../public/images/Particular.png");
}

@media (max-width: 768px) {
  .clinic-container-1 {
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }

  .clinic-container-2,
  .clinic-container-3,
  .clinic-container-4,
  .clinic-container-5 {
    width: 100%;
    height: auto; /* Adjust height for better fit on smaller screens */
  }

  .clinic-place,
  .clinic-oncovida {
    width: 100%;
    height: auto; /* Ensure images adjust to the container's width */
  }

  .clinic-geap-logo,
  .clinic-prevmed-logo,
  .clinic-particular-logo {
    width: 100%;
    height: auto; /* Ensure images adjust to the container's width */
  }

  .clinic-container-5 {
    flex-direction: column;
  }
}
