<main class="clinic-container-1">
  <div class="clinic-container-2">
    <h1>SERVIÇOS</h1>
    <ul>
      <li>Reabilitação Cardiopulmonar</li>
      <li>Reabilitação Oncológica</li>
      <li>Tratamento da Dor</li>
      <li>Massagem Relaxante</li>
      <li>Drenagem Linfática</li>
    </ul>
  </div>
  <div class="clinic-container-3">
    <h1>Clínica do Idoso</h1>
    <li class="clinic-place"></li>
    <p>
      Localizado na OncoVida Especialidades Av. Mato Grosso, 183 - Estados, João
      Pessoa - PB, 58030-080
    </p>
    <li class="clinic-oncovida"></li>
  </div>
  <div class="clinic-container-4">
    <h1>ATENDIMENTO</h1>
    <ul>
      <li>Particular</li>
      <li class="clinic-geap-logo"></li>
      <li class="clinic-prevmed-logo"></li>
    </ul>
  </div>
</main>
