.clinic-container-1 {
  display: flex;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--green-paliar);
  font-weight: 700;
  font-size: 0.9rem;
}

.clinic-container-2 {
  width: 60%;
}

.clinic-container-5 {
  width: 40%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.clinic-container-2,
.clinic-container-3,
.clinic-container-4 {
  text-align: center;
}

.clinic-container-2 ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.clinic-container-2 li {
  width: 25rem;
}

.clinic-container-2 ul p {
  text-align: justify;
}

.clinic-container-2 h1,
.clinic-container-4 h1,
.clinic-container-3 h1 {
  font-size: 2rem;
  font-weight: 900;
}

.clinic-container-3 ul,
.clinic-container-4 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.clinic-place {
  background-image: url("../../../../public/images/consultorio.jpeg");
}

.clinic-oncovida {
  background-image: url("../../../../public/images/oncovida.jpeg");
}

.clinic-place,
.clinic-oncovida,
.clinic-geap-logo,
.clinic-prevmed-logo,
.clinic-particular-logo {
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--green-paliar);
}

.clinic-place,
.clinic-oncovida {
  width: 250px;
  height: 150px;
}

.clinic-geap-logo {
  background-image: url("../../../../public/images/GEAP-Saúde.jpg");
}

.clinic-prevmed-logo {
  background-image: url("../../../../public/images/prevmed.png");
}

.clinic-particular-logo {
  background-image: url("../../../../public/images/Particular.png");
}
