.home-container-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5rem;
  // height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  // height: auto;
}

.home-container-2 {
  display: flex;
  justify-content: space-between;
  // width: 100%;
}

.home-container-2 h1 {
  font-size: 2rem;
  color: var(--green-paliar);
  font-weight: 900;
}

.home-container-2 p {
  margin-top: -2rem;
  font-size: 1rem;
  color: var(--brown-paliar);
  font-weight: 500;
}

.home-container-2 nav {
  margin-top: -3rem;
  font-size: 2rem;
  display: flex;
  color: var(--green-paliar);
  font-weight: 700;
  gap: 1rem;
  cursor: pointer;
}

.home-container-2 nav button:hover {
  color: var(--brown-paliar);
}

.home-container-3 {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

.home-container-3 h1 {
  font-size: 3.5rem;
  color: var(--green-paliar);
  font-weight: 900;
}

.home-container-3 p {
  margin-top: -1rem;
  font-size: 1.5rem; /* Font size at default */
  color: var(--brown-paliar);
  font-weight: 700;
}

.home-photo {
  background-image: url("../../../../public/images/home-photo2-edit.png");
  width: 400px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--green-paliar);
}
