<main class="home-container-1">
  <div class="home-container-2">
    <div>
      <h1>Mayara Furtado</h1>
      <p>
        GERONTOLOGIA E PALIATIVISMO
        <br />
        CREFITO: 217440-F
      </p>
    </div>
    <nav>
      <button mat-button (click)="scrollToSection('biography')">
        Biografia
      </button>
      <button mat-button (click)="scrollToSection('clinic')">Clínica</button>
      <button mat-button (click)="scrollToSection('depositions')">
        Depoimentos
      </button>
      <button mat-button (click)="scrollToSection('contacts')">Contato</button>
    </nav>
  </div>
  <div class="home-container-3">
    <div class="home-photo"></div>
    <div>
      <h1>
        Me chamo
        <strong class="brown-paliar"> Mayara Furtado</strong>,<br />
        e sou sua Fisioterapeuta.
        <br />
        Como posso ajudá-lo?
      </h1>
      <p>
        Com mãos que curam, trago alívio e a cura da dor,
        <br />
        restaurando a qualidade de vida dos meus pacientes.
      </p>
    </div>
  </div>
</main>
