<main class="home-container-1">
  <div class="home-container-2">
    <div>
      <h1>Mayara Furtado</h1>
      <p>
        GERONTOLOGIA E PALIATIVISMO
        <br />
        CREFITO: 217440-F
      </p>
    </div>
    <nav>
      <button mat-button (click)="scrollToSection('biography')">
        Biografia
      </button>
      <button mat-button (click)="scrollToSection('clinic')">Clínica</button>
      <button mat-button (click)="scrollToSection('depositions')">
        Depoimentos
      </button>
      <button mat-button (click)="scrollToSection('contacts')">Contato</button>
    </nav>
  </div>
  <div class="home-container-3">
    <div class="home-photo"></div>
    <div>
      <h1>
        Me chamo
        <strong class="brown-paliar"> Mayara Furtado,</strong><br />
        Fisioterapeuta <strong class="brown-paliar">Gerontóloga,</strong>
        <br />
        com foco em
        <strong class="brown-paliar">reabilitação funcional</strong>
        <br />
        e <strong class="brown-paliar">doenças crônicas.</strong>
      </h1>
      <p>
        Proporcionando cuidado integral ao idoso
        <br />
        com dedicação e amor.
      </p>
    </div>
  </div>
</main>
