<main>
  <section
    id="home"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-right"></div>
    <app-home></app-home>
  </section>
  <section
    id="biography"
    class="bg-gradient-to-r from-greenLight-paliar to-white"
  >
    <div class="logo logo-left"></div>
    <app-biography></app-biography>
  </section>
  <section id="clinic" class="bg-gradient-to-r from-greenLight-paliar to-white">
    <div class="logo logo-center"></div>
    <app-clinic></app-clinic>
  </section>
  <section
    id="depositions"
    class="bg-gradient-to-r from-greenLight-paliar to-white"
  >
    <div class="logo logo-right"></div>
    <app-depositions></app-depositions>
  </section>
  <section
    id="contacts"
    class="bg-gradient-to-r from-greenLight-paliar to-white"
  >
    <div class="logo logo-left"></div>
    <app-contacts></app-contacts>
  </section>
</main>
