<main>
  <section
    id="home"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-right"></div>
    <h1>Home</h1>
  </section>
  <section
    id="biography"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-left"></div>
    <h1>Biography</h1>
  </section>
  <section
    id="clinic"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-center"></div>
    <h1>Clinic</h1>
  </section>
  <section
    id="depositions"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-right"></div>
    <h1>Depositions</h1>
  </section>
  <section
    id="contacts"
    class="bg-gradient-to-r from-greenLight-paliar to-white h-screen"
  >
    <div class="logo logo-left"></div>
    <h1>Contacts</h1>
  </section>
</main>
